/* Dev blog */
.dev-blog-left-controls .disabled {
  color: var(--disabled-color);
}

.dev-blog-left-controls svg {
  background-color: var(--background-color);
  border: 3px solid var(--background-color);
  border-radius: 2px;

  aspect-ratio: 1 / 1;
}

.dev-blog-left-controls p {
  margin-bottom: 0.1rem;
}
