/* Easy classes */

.serif {
  font-family: serif;
}

.inline {
  display: inline;
}

div.break {
  height: 1rem;
}

/* Width / Height stuff */
.full-size {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Lots of flex stuff */

/* Flex containers */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

/* Flex items */
.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* Standard grid stuff */
.std-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  padding-inline: 12px;

  overflow-y: scroll;
  overflow-x: hidden;

  text-align: center;
}

.std-grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.std-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);

  padding: 7px;
  border-radius: 5px;

  text-decoration: none;
}

@media screen and (max-width: 1070px) {
  .std-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 920px) {
  .std-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .std-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .std-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
