.gallery-img {
  flex-basis: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  background-color: var(--background-color);

  padding: 7px;
  border-radius: 5px;

  text-align: center;
}
