/* Side nav */

.side-nav-line {
  padding: 3px var(--nav-padding-width);

  display: flex;
  align-items: center;

  font-size: 1.2rem;
}

.side-nav-line:nth-of-type(odd) {
  background-color: var(--content-background-color);
}

.side-nav-link {
  color: var(--frong-color);
  text-decoration: underline;
}
