/* Dark mode */
:root {
  --background-color: var(--black);
  --text-color: var(--white);
  --content-background-color: var(--dark-gray);
  --disabled-color: var(--disabled-color-dark);
  --std-outline-color: var(--dark-outline-color);
}

/* Light mode */
.light {
  --background-color: var(--white);
  --text-color: var(--black);
  --content-background-color: var(--light-gray);
  --disabled-color: var(--disabled-color-light);
  --std-outline-color: var(--light-outline-color);
}

/* Apply theming */
#site-container {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.fa-icon {
  color: var(--text-color);
}
