/* Color variables */
:root {
  --black: #121212;
  --dark-gray: #1f1f1f;
  --dark-outline-color: #5f5f5f;
  --disabled-color-dark: #2e2e2e;

  --white: #f0f0f0;
  --light-gray: #cccccc;
  --light-outline-color: #696969;
  --disabled-color-light: #b9b9b9;

  --frong-color: #6d75a3;
  --light-green: #60b99a;
}

/* Top nav stuff */
:root {
  --nav-margin-width: 5px;
  --nav-padding-width: 4px;

  --nav-border-width: 3px;
  --nav-border: var(--nav-border-width) solid var(--frong-color);

  --nav-icon-size: 1.5rem;
  --page-content-padding-width: 10px;
}

/* Dev blog stuff */
:root {
  --dev-post-border-radius: 5px;
}
